<nav class="mb-1 navbar navbar-expand-lg navbar-dark cyan">
    <a class="navbar-brand" href="#/home">Barelz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="#/library">
                    <i class="fa fa-book"></i>
                    Libray
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="#/profile">
                    <i class="fa fa-user"></i>
                    Profile
                </a>
            </li>

            <!-- <div class="nav-item btn-group dropdown" dropdown>
                <a dropdownToggle class="nav-link waves-effect waves-light dropdown-toggle" mdbRippleRadius>
                    <i class="fa fa-user"></i>
                    Basic dropdown
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div> -->
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>